/* Estilos para el banner */
.banner {
  width: 100%;
  height: 130px; /* Altura del banner, ajusta según necesites */
  background-color: #EEB573; /* Color de fondo del banner */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.noticia-text-regular {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: normal;
}

.noticia-text-bold {
  font-family: "Noticia Text", serif;
  font-weight: 700;
  font-style: normal;
}

.noticia-text-regular-italic {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: italic;
}

.noticia-text-bold-italic {
  font-family: "Noticia Text", serif;
  font-weight: 700;
  font-style: italic;
}

.banner img {
  max-width: 57%; /* Cambiar el tamaño del logo */
  max-height: 71%; /* Cambiar el tamaño del logo */
}

/* Contenedor principal para el layout */
.main-container {
  display: flex;
  margin-top: 130px; /* Altura del banner */
}

/* Estilos para el sidebar */
.sidebar {
  width: 200px;
  background-color: #B0B0B0; /* Color de fondo gris */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 130px; /* Debajo del banner */
  bottom: 0;
}

.sidebar-btn {
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

#estudios-btn {
  margin-top: 35px;
  background-color: #B3DDF2; /* Color celeste */
  font-family: "Noticia Text", serif;

}

#historia-btn {
  background-color: #E4DBDB; /* Color rojo (puedes cambiarlo si deseas) */
  font-family: "Noticia Text", serif;

}

.sidebar-img {
  max-width: 100%;
  height: auto;
}

.icono-img {
  max-width: 80px; /* Ajusta el tamaño del ícono */
  max-height: 80px;
}

/* Estilos para la galería */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin-left: 210px; /* Desplazamiento para que no quede debajo del sidebar */
  flex-grow: 1;
}

/* Estilos generales */
body {
  margin: 0;
  font-family: "Noticia Text", serif;
  background-color: #f8f8f8;
}

.sidebar-img {
  width: 120px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.barrita {
  width: 1200px;
  height: 50px;
  background-color:#B0B0B0;
  float: right;
  position: fixed; /* Cambia a fixed */
  font-family: "Noticia Text", serif;

  margin-left: 220px;
  
}

.search-box {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 140px;
}
.barrita h2 {
  margin-left: 200px;
  float: left;
}

.sidebar button {
  color: black;
}